* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica;

}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: #232a31;

}

/* A lista de itens do menu */
.navbar-items {
    display: flex;
    list-style: none;
    margin-right: 20px;
}

.navbar-items li a {
    text-decoration: none;
    margin-left: 20px;
    color: #fff;
}

/*Logo do menu*/

.img-container a img {

    width: 56px
}

/*Botao entrar*/

#entrar {

    color: #fff;
    background: #2cc76a;
    padding: 15px 20px;
    border-radius: 5px;
}

/* imagem de fundo*/

#img-menu {
    display: flex;
    background-image: url(/img/mainbanner.png);
    background-size: cover;
    background-position: center;
    height: 423px;
    width: 100%;
}

/*texto dentrod a img de menu*/

#container-text-menu {

    display: flex;
    align-items: center;
    color: #fff;
    -webkit-text-stroke-width: 1px;

}

#container-text-menu #mH,
#textomenu {
    flex: 1;
    flex-flow: column nowrap;
    font-size: 30px;
    text-align: center;
}

/*qualidades*/


/* card de serviços*/

.campo-cards {

    display: flex;
}

.campo-cards .cards {

    text-align: center;
    padding: 85px 40px;


}

.campo-cards .cards h3 {

    padding: 10px;
}

.fas {
    font-size: 60px;
    margin-bottom: 15px;
}

.fa-shield-alt {
    color: #2cc76a;
}

.fa-rocket {
    color: #ef3f29;
}

.fa-comments {
    color: #ef8f29;
}


/*Titulo Planos e Preços*/

.title-plano {

    text-align: center;
}

.title-plano h1 {

    padding: 10px;
}

.title-plano h3 {

    color: gray;
}

/*cards planos*/

.card {

    display: flex;
    text-align: center;
    justify-content: center;
    margin: 40px;

}

ul {
    padding: 50px;
}

.container-title {

    margin: 20px;
    font-weight: bold;
}

.title-table {

    background: #202b34;
    color: #fff;
    padding: 20px;
    font-weight: bold;
}

.preco-table {
    background: #2cc76a;
    border-radius: 50px;
    color: #fff;
    padding: 20px;
}

.saberMais {

    background: #2cc76a;
    color: #fff;
    font-weight: bold;
    padding: 20px;
}

.conteudo-table {

    background: #e8e9ea;

}

.conteudo-table li {

    padding: 20px 40px;
}

/*area de busca dominio*/

.container-buscar {

    background: #34454e;

}

.container-buscar h1,
.container-buscar p {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    color: #fff;
}

.container-buscar h1 {

    font-weight: bold;
    font-size: 40px;
    padding-top: 60px;
    padding-bottom: 10px;
}

.container-buscar p {

    font-weight: bold;
}

.texto-buscar {

    padding: 5px;
}




/*input do buscar*/
.campo-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding-bottom: 60px;
}

.campo-input input[type="text"] {
    width: 40%;
    padding: 12px;
    border-radius: 6px;
    border: 2px solid transparent;
    outline: none;
    transition: 0.3s ease;
}

.campo-input input[type="submit"] {
    padding: 12px 30px;
    background: #2cc76a;
    color: #fff;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

/*----------------- PAGINA DE CONTATO ----------------- */

/* Título centralizado no topo do container branco */
.titleform {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    padding: 20px;
    border-bottom: 1px solid;
}

/* Container principal do formulário com bordas arredondadas e margens */
#campo-form {
    background: #ffff;
    margin: 40px 160px;
    padding: 20px;
    border-radius: 10px;
}

.campos {
    padding-bottom: 10px;
    margin: 20px;
}

.campos p {
    text-align: center;
}

/* Estilização padrão para campos de texto, números e descrição */
.campos input,
textarea {
    border: none;
    border-bottom: 1px solid #ccc;
    /* Efeito de linha embaixo do campo */
    padding: 10px 0;
    display: block;
    /* Faz o input ocupar sua própria linha */
    width: 80%;
}

#tipo_cambio {
    display: inline;
}

#tipo_cambio {
    margin-bottom: 40px;
}

/* Configuração específica para inputs de rádio ficarem em linha */
.campos-radio input {
    display: inline-block;
    width: auto;
    margin-right: 5px;
}

#tipo_cambio label {
    display: inline-block;
    margin-right: 15px;
}

.campos-2 {
    padding-bottom: 10px;
    margin: 20px;
}

/* Remove marcadores de lista (bolinhas) dos opcionais */
li {
    list-style: none;
    padding: 5px;
}

#title-checkbox {
    padding-bottom: 20px;
}

/* Estilização do campo de seleção de arquivos */
#images {
    border-bottom: 1px solid #ccc;
    width: 30%;
    padding: 10px 0;
    margin-left: 15px;
}

#campo-img {
    padding: 10px;
}

#title-file label {
    margin-left: 24px;
}

/* Botão de envio com estilo personalizado e transição de cor */
.botao-enviar {
    background-color: #673ab7;
    color: #fff;
    border: 2px solid transparent;
    /* Reserva espaço para a borda do hover */
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s;
    /* Suaviza a troca de cores em 0.5 segundos */
}

/* Efeito de inversão de cores quando o mouse passa sobre o botão */
.botao-enviar:hover {
    background-color: #fff;
    border-color: #673ab7;
    color: #673ab7;
}

#campo-botao {
    margin-top: 40px;
    margin-left: 24px;
}

/*
-----------------
      FIM 
-----------------
*/